**<h1 align="center">Exercices Merise</h1>**

## Exercices 1 & 2

<div style="text-align: center;">
    <img src="Exercice 1 & 2.svg" width="800">
</div>

```sql
Table Produit {
  id int [pk, increment] // Identifiant unique du produit
  nom varchar [not null] // Nom du produit
  prix decimal(10,2) [not null] // Prix du produit
  date_livraison date [not null] // Date de livraison
  duree_garantie int [not null] // Durée de garantie (en années)
  id_type int [not null, ref: > Type_Produit.id] // Référence vers le type de produit
  id_fournisseur int [not null, ref: > Fournisseur.id] // Référence vers le fournisseur
}

Table Type_Produit {
  id int [pk, increment] // Identifiant unique du type de produit
  libelle varchar [not null] // Libellé du type de produit (mobilier, luminaire, etc.)
}

Table Fournisseur {
  id int [pk, increment] // Identifiant unique du fournisseur
  nom varchar [not null] // Nom du fournisseur
  adresse text [not null] // Adresse du fournisseur
}
```

## Exercice 3.1

<div style="text-align: center;">
    <img src="Exercice 3.1.svg" width="800">
</div>

```sql
Table Factures {
  id_vente int [pk, increment] // Clé primaire
  date_vente date
  id_produit int [ref: > Produits.id_produit] // Clé étrangère vers Produits
  id_client int [ref: > Clients.id_client] // Clé étrangère vers Clients
  id_magasin int [ref: > Magasins.id_magasin] // Clé étrangère vers Magasins
  quantite_vendue int
  prix_total decimal(10,2)
}

Table Produits {
  id_produit int [pk, increment] // Clé primaire
  nom_produit varchar(255) [not null]
  categorie_produit varchar(100)
}

Table Clients {
  id_client int [pk, increment] // Clé primaire
  nom_client varchar(255) [not null]
  ville_client varchar(100)
}

Table Magasins {
  id_magasin int [pk, increment] // Clé primaire
  nom_magasin varchar(255) [not null]
  ville_magasin varchar(100)
}
```

## Exercice 3.2

<div style="text-align: center;">
    <img src="Exercice 3.2.svg" width="800">
</div>

```sql
Table Produits {
  id_produit int [pk, increment] // Clé primaire
  nom_produit varchar(255) [not null]
  marque varchar(100)
  poids decimal(10,2) // Poids en kg
  prix decimal(10,2) // Prix en €
  id_type int [ref: > Types_Produits.id_type] // Clé étrangère vers Types_Produits
}

Table Types_Produits {
  id_type int [pk, increment] // Clé primaire
  nom_type varchar(100) [not null] // Ex: fruit, légume, produit laitier
  id_categorie int [ref: > Categories.id_categorie] // Clé étrangère vers Categories
}

Table Categories {
  id_categorie int [pk, increment] // Clé primaire
  nom_categorie varchar(100) [not null] // Ex: frais, laitiers, céréales
}
```

## Exercice 4

<div style="text-align: center;">
    <img src="Exercice 4.svg" width="800">
</div>

```sql
Table Commande {
  id int [pk, increment] // Identifiant unique de la commande
  date datetime [not null] // Date de la commande
  mode_livraison varchar [not null] // Mode de livraison (express, standard, etc.)
  adresse_livraison varchar [not null] // Adresse de livraison au moment de la commande
  utilisateur_id int [ref: > Utilisateur.id] // Lien avec l'utilisateur
}

Table Utilisateur {
  id int [pk, increment] // Identifiant unique de l'utilisateur
  nom varchar [not null] // Nom de l'utilisateur
  adresse varchar [not null] // Adresse actuelle de l'utilisateur
}

Table Produit {
  id int [pk, increment] // Identifiant unique du produit
  nom varchar [not null] // Nom du produit
  type varchar [not null] // Type de produit (électronique, jeu vidéo, etc.)
  marque varchar [not null] // Marque du produit
  prix_unitaire float [not null] // Prix unitaire actuel
  fournisseur_id int [ref: > Fournisseur.id] // Lien avec le fournisseur
  id_jeu int [ref: > Jeu_Video.id, null] // Référence optionnelle au jeu vidéo
}

Table Fournisseur {
  id int [pk, increment] // Identifiant unique du fournisseur
  nom varchar [not null] // Nom du fournisseur
  ville varchar [not null] // Ville du fournisseur
}

Table Commande_Produit {
  id int [pk, increment] // Clé primaire
  commande_id int [ref: > Commande.id] // Référence à la commande
  produit_id int [ref: > Produit.id] // Référence au produit
  quantite int [not null] // Quantité commandée
  prix_unitaire_achat float [not null] // Prix du produit au moment de la commande
}

Table Jeu_Video {
  id int [pk, increment] // Identifiant unique du jeu
  nom varchar [not null] // Nom du jeu vidéo
  console varchar [not null] // Console sur laquelle il est disponible
  editeur varchar [not null] // Éditeur du jeu
}
```

## Exercice 5

<div style="text-align: center;">
    <img src="Exercice 5.svg" width="800">
</div>

```sql
Table Utilisateur {
  id int [pk, increment] // Clé primaire
  nom varchar [not null]
  email varchar [unique, not null]
}

Table Espece {
  id int [pk, increment] // Clé primaire
  nom_scientifique varchar [unique, not null]
  nom_commun varchar
  description text
}

Table Image {
  id int [pk, increment] // Clé primaire
  date_prise date [not null]
  lieu varchar
  appareil varchar
  utilisateur_id int [ref: > Utilisateur.id] // Relation avec l'utilisateur
}

Table Observation {
  id int [pk, increment] // Clé primaire
  image_id int [ref: > Image.id] // Lien avec une image
  utilisateur_id int [ref: > Utilisateur.id] // Lien avec un utilisateur
  espece_id int [ref: > Espece.id] // Lien avec une espèce
}

Table Condition_Croissance {
  id int [pk, increment] // Clé primaire
  espece_id int [ref: > Espece.id] // Relation avec l'espèce
  type varchar [not null] // Type de condition (ex: lumière, humidité, sol)
  valeur varchar [not null] // Valeur spécifique (ex: "Soleil", "Sol bien drainé")
}

Table Maladie {
  id int [pk, increment] // Clé primaire
  espece_id int [ref: > Espece.id] // Relation avec l'espèce
  nom varchar [not null]
  description text
}

Table Traitement {
  id int [pk, increment] // Clé primaire
  maladie_id int [ref: > Maladie.id] // Relation avec une maladie
  espece_id int [ref: > Espece.id] // Relation avec une espèce (au cas où un traitement s'applique à plusieurs maladies)
  description text [not null]
}
```